fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
requests
aiofiles
langchain
langchain-groq
deep-translator
langdetect
gTTS
SpeechRecognition
transformers
torch
torchvision
pillow
opencv-python
numpy
pdf2image
pytesseract
pyyaml
